{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script src="{% static 'main.js' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

    <script src="https://kit.fontawesome.com/53f9558ed3.js"></script>
  <title>Cake Shop</title>

</head>

<body>
  <!-- navbar -->

  <nav class="one-edge-shadow
  navbar navbar-light
  sticky-top navbar 
  navbar-expand-lg
  text-white custom-navbar">
    <a class="navbar-brand ms-3 text-dark " href="/">
    

      <img src="https://img.freepik.com/premium-vector/cake-logo-icon-design-illustration_775854-2226.jpg" class="logo"><b class="logo-title">Cake Shop</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-4">
        <li class="nav-item active">
          <a class="nav-link nav-txt" href="/store">CAKE<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-txt" href="/about">ABOUT US <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-txt" href="/contact">CONTACT US <span class="sr-only"></span></a>
        </li>
    
      </ul>
      <ul class=" navbar-nav my-2 my-lg-0">

        <li class="nav-item active">
          <a class="nav-link nav-txt" href="/cart">CART
            <span class="badge badge-success">{{request.session.cart.keys|length}}</span>
            <span class="sr-only">(current)</span></a>
        </li>

        {% if request.session.customer %}

        <li class="nav-item active ">
          <a class="nav-link nav-txt" href="/orders">ORDERS<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link nav-txt" href="/logout">LOG OUT<span class="sr-only">(current)</span></a>
        </li>
        {% else %}

        <li class="nav-item active">
          <a class="nav-link nav-txt" href="/signup">SIGN UP<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-txt" href="/login">LOG IN<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}


      </ul>


    </div>
  </nav>

  <!---->
  {% block content %}{% endblock %}
 
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>